@font-face {
	font-family: 'OpenDyslexic';
	src: url('{{$browser_extension_protocol}}assets/fonts/opendyslexic/regular.otf')
		format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenDyslexic Italic';
	src: url('{{$browser_extension_protocol}}assets/fonts/opendyslexic/italic.otf')
		format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenDyslexic Bold';
	src: url('{{$browser_extension_protocol}}assets/fonts/opendyslexic/bold.otf')
		format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenDyslexic Bold Italic';
	src: url('{{$browser_extension_protocol}}assets/fonts/opendyslexic/bold-italic.otf')
		format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexicmono';
	src: url('{{$browser_extension_protocol}}assets/fonts/opendyslexic/regular.otf')
		format('opentype');
}

:root {
	--opendyslexic-chrome-regular: 'OpenDyslexic';
	--opendyslexic-chrome-italic: 'OpenDyslexic Italic';
	--opendyslexic-chrome-bold: 'OpenDyslexic Bold';
	--opendyslexic-chrome-bold-italic: 'OpenDyslexic Bold Italic';
	--opendyslexic-chrome-mono: 'OpenDyslexic';
}

.helperbird-font-opendyslexic-regular  *:not([class*="icon"]):not([class*="material"]):not([class*="symbols"]):not([class*="font"]) {
	font-family: var(--opendyslexic-chrome-regular);
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
}

.helperbird-font-opendyslexic-italic  *:not([class*="icon"]):not([class*="material"]):not([class*="symbols"]):not([class*="font"]) {
	font-family: var(--opendyslexic-chrome-italic);
	font-style: italic;
	line-height: 150%;
}

.helperbird-font-opendyslexic-bold  *:not([class*="icon"]):not([class*="material"]):not([class*="symbols"]):not([class*="font"]) {
	font-family: var(--opendyslexic-chrome-bold);
	font-weight: bold;
	line-height: 150%;
}

.helperbird-font-opendyslexic-bold-italic  *:not([class*="icon"]):not([class*="material"]):not([class*="symbols"]):not([class*="font"]) {
	font-family: var(--opendyslexic-chrome-bold);
	font-weight: bold;
	line-height: 150%;
}

p.helperbird-font-opendyslexic-regular:nth-child(even),
p.helperbird-font-opendyslexic-italic:nth-child(even),
p.helperbird-font-opendyslexic-bold:nth-child(even),
li.helperbird-font-opendyslexic-regular:nth-child(even),
li.helperbird-font-opendyslexic-italic:nth-child(even),
li.helperbird-font-opendyslexic-bold:nth-child(even) {
	opacity: rgba(0, 0, 0, 0.03);
}

p.helperbird-font-opendyslexic-regular:hover,
p.helperbird-font-opendyslexic-italic:hover,
p.helperbird-font-opendyslexic-bold:hover,
li.helperbird-font-opendyslexic-regular:hover,
li.helperbird-font-opendyslexic-italic:hover,
li.helperbird-font-opendyslexic-bold:hover {
	background-color: rgba(0, 0, 0, 0.09) !important;
}
