@font-face {
	font-family: 'opendyslexic';
	src: url('/assets/fonts/opendyslexic/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('/assets/fonts/opendyslexic/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('/assets/fonts/opendyslexic/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('/assets/fonts/opendyslexic/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'opendyslexicmono';
	src: url('/assets/fonts/opendyslexic/OpenDyslexicMono-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	background-color: black;
	color: #fff !important;
}

.viewport,
body {
	width: 400px;
	max-width: 100%;
	max-height: 400px;
	font-family: 'opendyslexic';
}
